/*TAGS*/
p{
	color: white;
	font-size: 15px;
	text-family: Arial;
	text-align: center;
	text-shadow: 1px 1px 1px #111111;
}

body{
	background-color:#000000;
}

header{
	background-color:#35b8b0;
	height: 80px;
	padding: 20px;
}

footer{
	clear: both;
	background-color: #35b8b0;
	height: 50px;
	text-align: center;
	padding: 10px;
	font-size: 12px;
	text-shadow: 1px 1px 1px #111111;
}

h1{
	color: #FF7F50;
	text-shadow: 1px 1px 1px #111111;
	text-align: center;
	margin:0 0 50px 0;
}

/* IDS */
#principal{
	background-image: url('wall.jpg');
	clear:both;
	background-size:100%;
	min-height: 450px;
	padding:80px 0 0 0;
}

#logo{
	float:left;
}

#menu{
	margin-top:30px;
	float:right;
}

#menu a{
	padding:52px 20px;
	text-decoration: none;
	color:#111;
	text-shadow: 1px 1px #111111;
}

#menu a:hover{
	background-color:#111111;
	color:#FFFFFF;
	
}

/* class */
.container{
	width: 960px;
	margin: 0 auto;
}

.efeito{
	background-color:rgba(0, 0, 0, 0.5);
	padding: 80px 0 80px 0;
}
